/* Style the body and outer container */

body {
  margin: auto;
  color: #333;
  font-family: "Trebuchet MS", Georgia;
  line-height: 1.5em;
}

#container {
  width: auto;
  margin: auto auto;
  padding: 150px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}




/* The logo and footer */

#logo {
  display: block;
  width: 300px;
  padding: 0 660px 20px 0;
  border: none;
  border-bottom: 1px solid #00a0b0;
  margin-bottom: 40px;
}

#footer {
  border-top: 1px solid #00a0b0;
  margin-top: 40px;
  padding: 20px 0 0 0;
  font-size: .8em;
}

/* set background image per page */

.home-bg{
  background-color: #FFC0CB;
  background-image: url("http://localhost/WMW/img/loginLadies.jpg");
  background-size: 150% 150%;
  background-repeat: no-repeat;
}

.newUser-bg{
  background-image: url('http://localhost/WMWl/img/loginLadies.jpg');
  background-size: 150% 150%;
  background-repeat: no-repeat;
  height: 100%;
}

.profile-bg{
  background-image: url('http://localhost/WMWl/img/flower.jpg');
  background-color: #000
  background-size: 150% 150%;
  background-repeat: no-repeat;
}



/* nav bar*/

nav{
    list-style-type:none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav_en {
float: left;
}

nav_en a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav_en a:hover {
  background-color: #111;
}
/* Columns */

.column {
  float: left;
  padding: 0;
  height: 500px;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.tooltip,.display-container{position:relative}.tooltip .text{display:none}.tooltip:hover .text{display:inline-block}


/* Headings */

h1 {
  color: #eb6841;
  line-height: 1.2em;
}

h2, h2 a {
  color: #fff;
}

h2 a {
  text-decoration: none;
}


/* Article headlines */

#headlines {
  list-style: none;
  padding-left: 0;
  width: 75%;
}

#headlines li {
  margin-bottom: 2em;
}

.pubDate {
  font-size: .8em;
  color: #eb6841;
  text-transform: uppercase;
}

#headlines .pubDate {
  display: inline-block;
  width: 100px;
  font-size: .5em;
  vertical-align: middle;
}

#headlines.archive .pubDate {
  width: 130px;
}

.summary {
  padding-left: 100px;
}

#headlines.archive .summary {
  padding-left: 130px;
}


/* "You are logged in..." header on admin pages */

#adminHeader {
  width: 940px;
  padding: 0 10px;
  border-bottom: 1px solid #00a0b0;
  margin: -30px 0 40px 0;
  font-size: 0.8em;
}


/* Style the form with a coloured background, along with curved corners and a drop shadow */

form {
  margin: 20px auto;
  padding: 40px 10px;
  overflow: auto;
  background: #fff;
  border: 1px solid #fff;
  -moz-border-radius: 1px;
  border-radius: 5px;
}


/* Give form elements consistent margin, padding and line height */

form ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

form ul li {
  margin: .5em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}


/* The field labels */

label {
  display: block;
  float: center;
  clear: center;
  text-align: center;
  padding: .4em 0 0 0;
  margin: .15em 0 0 0;
}

sig {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: .01;
    font-size: 10vw;
}

/* FIELDS */

.vert2 > div{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 49.5%;
    text-align: center;
}

.vert3close > div{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 20%;
    margin-left: 10%;
    text-align: center;
}

.vert3 > div{
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 32.5%;
    text-align: center;
}


input, select, textarea {
  font-family: Garamond;
  display: block;
  margin: 0 auto;
  width: 12em;
  padding: .4em;

}

input, textarea, select, .date {
  border: 2px solid #666;

  background: #fff;
}

input {
  font-size: .8em;
}

select {
 font-size: 0.9em;
 line-height: 1.5em;
 height: 2.5em;
  padding: 0;
  margin-bottom: 1.5em;
  position: relative;
  top: .7em;
}

textarea {
  font-size: .9em;
  height: 2.5em;
  line-height: 1.5em;
}

textarea#content {
  font-family: "Garamond";
}


/* Place a border around focused fields */

form *:focus {
  border: 5px solid #000;
  outline: none;
}


/* BUTTONS */

.buttons {
  font-family: Garamond;
  text-align: center;
  margin: 10px 0 0 0;
}

input[type="submit"] {
  display: inline;
  margin: 0 20px;
  width: 12em;
  padding: 10px;


  color: #fff;
  background: #000;
  font-weight: bold;
  -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:active {
  cursor: pointer;
  opacity: 0.5;

}

input[type="submit"]:active {
  opacity: 0.1;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}


/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}



th {
  border-left: none;
  border-right: none;
  background: ##e3a595;
  color: #000;
  font-size: 20px;
  cursor: default;
}

tr:nth-child(odd) {
  background: #fff;
  color: #000;
  font-style: bold;
}

tr:nth-child(even) {
  background: #fdf0f2;
    color: #000;
  font-style: bold;
}

tr:hover {
  background: #4CAF50;
  cursor: pointer;
  color: #000;
  font-weight: 900;
  opacity: 0.5;
}

/* bars and other formatting*/

hr.line {
  border-top: 1px solid black;
  border-spacing: 10px;
  border-width: 10px;
}

/* Status and error boxes */

.statusMessage, .errorMessage {
  font-size: .8em;
  padding: .5em;
  margin: 2em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}

.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}

/* Colors */
.pink, .hover-pink:hover{
    color: #000 !important;
    background-color: #e3a595
}
.white, .hover-white:hover {
    color: #fff !important;
    background-color: #fdf7ef !important
}
.red, .hover-red:hover {
    color: #000 !important;
    background-color: #d44031 !important
}
.black, .hover-black:hover {
    color: #000 !important;
    background-color: #1b2627 !important
}
.grey, .hover-grey:hover {
    color: #000 !important;
    background-color: #96adb4 !important
}
.yellow, .hover-yellow:hover {
    color: #000 !important;
    background-color: #d77b28 !important
}
.green, .hover-green:hover {
    color: #000 !important;
    background-color: #4e8180 !important
}
.lightbrown, .hover-lightbrown:hover {
    color: #000 !important;
    background-color: #ccbcb2 !important
}
.lightblue, .hover-lightblue:hover {
    color: #000 !important;
    background-color: #6791a0 !important
}
.darkbrown, .hover-darkbrown:hover {
    color: #000 !important;
    background-color: #4f4941 !important
}
.darkgrey, .hover-darkgrey:hover {
    color: #000 !important;
    background-color: #4d6365 !important
}

.text-pink, .hover-text-pink:hover {
    color: #e3a595 !important;
}

.text-white, .hover-text-white:hover {
    color: #fdf7ef !important;
}

.text-red, .hover-text-red:hover {
    color: #d44031 !important;
}

.text-black, .hover-text-black:hover {
    color: #1b2627 !important;
}

.text-grey, .hover-text-grey:hover {
    color: #96adb4 !important;
}

.text-yellow, .hover-text-yellow:hover {
    color: #d77b28 !important;
}

.text-green, .hover-text-green:hover {
    color: #4e8180 !important;
}

.text-lightbrown, .hover-text-lightbrown:hover {
    color: #87695a !important;
}

.text-lightblue, .hover-text-lightblue:hover {
    color: #6791a0 !important;
}

.text-darkbrown, .hover-text-darkbrown:hover {
    color: #4f4941 !important;
}

.text-darkgrey, .hover-text-darkgrey:hover {
    color: #4d6365 !important;
}


.border-pink, .hover-border-pink:hover {
    border-color: #e3a595 !important;
}

.border-white, .hover-border-white:hover {
    border-color: #fdf7ef !important;
}

.border-red, .hover-border-red:hover {
    border-color: #d44031 !important;
}

.border-black, .hover-border-black:hover {
    border-color: #1b2627 !important;
}

.border-grey, .hover-border-grey:hover {
    border-color: #96adb4 !important;
}

.border-yellow, .hover-border-yellow:hover {
    border-color: #d77b28 !important;
}

.border-green, .hover-border-green:hover {
    border-color: #4e8180 !important;
}

.border-lightbrown, .hover-border-lightbrown:hover {
    border-color: #87695a !important;
}

.border-lightblue, .hover-border-lightblue:hover {
    border-color: #6791a0 !important;
}

.border-darkbrown, .hover-border-darkbrown:hover {
    border-color: #4f4941 !important;
}

.border-darkgrey, .hover-border-darkgrey:hover {
    border-color: #4d6365 !important;
}

.banner-img {
  background: url('/WMWl/img/lp.jpg');
  background-size: 100% 20%;
  position: fixed;
  background-repeat: no-repeat;
  padding: 300px;
}

.banner {
  vertical-align: bottom;
  width: 100%;
  height: 20%;

